.footer {
    text-align: center;
    background: white;
    color: black;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 100px;
}

.social-icons a i{
    font-size: 22px;
    width: 30px;
    color: black;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.social-icons a:hover i {
    color: #555;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.copyright {
    font-size: 16px;
}

