.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;
    border-radius: 8px;
  }

  .sidebar .kategori-scroll a {
  display: block;
  padding: 1px 4px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar .kategori-scroll a:hover {
  background-color: #f0f0f0;
  transform: translateY(-4px); /* animasi geser dikit ke kanan */
}

  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }

  .sidebar ul li {
    padding: 8px 0;
  }

  .news-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .top-news img {
    max-height: 325px;
    position: relative;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .top-news .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* warna gelap semi-transparan */
    opacity: 0; /* awalnya ga keliatan */
    transition: opacity 0.3s ease;
    border-radius: 8px;
    z-index: 1;
  }

  .top-news:hover .overlay {
    opacity: 1; /* pas hover, baru muncul gelapnya */
 }

 .news-card:hover .main-news,
 .news-card:hover .card-text,
 .news-card:hover .badge-news {
  transform: scale(1.05);
 }

 .main-news,
 .card-text,
 .badge-news {
  transition: transform 0.3s ease;
  will-change: transform;
 }

  .headline-text {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    z-index: 2;
}

  .navbar-brand img {
    height: 30px;
  }

  .main-news {
    height: auto;
    width: 100%;
    border-radius: 8px;
  }

  .section-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.news-card img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.news-card .card-body {
    padding: 15px;
}

.news-card .badge {
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.news-card {
    border: none;
    box-shadow: none;
}

.badge-news {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;         /* sama kayak m-0 */
    background-color: #0d6efd; /* sama kayak bg-primary */
    color: white;
    padding: 6px 12px;
    font-size: 0.85rem;
    border-radius: 5px;
    z-index: 1
  }

  .card-text {
    text-align: left;
  }

  .kategori-scroll::-webkit-scrollbar {
  width: 6px;
}

.kategori-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 8px;
}

.kategori-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
